@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 19, 19, 19;
  --background-end-rgb: 19, 19, 19;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for grey placeholder text and input text */
input::placeholder {
  color: #9ca3af; /* gray-400 */
}

input {
  color: #4b5563; /* gray-600 */
}
